<div class="col-12">
  <p class="text-center font-bold text-3xl">Purchase Details</p>
</div>
<div class="grid mt-8 mr-5 ml-5 overflow-hidden">
    <div class="col-12">
      <div class="card overflow-hidden">
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem','padding-bottom' : '10rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th>Books</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Action</th>
              <th>Amount</th>
            </tr>
            <br>
            <tr>
              <td>
                <p-autoComplete [(ngModel)]="selectedItem" [suggestions]="suggestions" (completeMethod)="search($event)" field="title" [dropdown]="true"></p-autoComplete>
              </td>
              <td>
                <span *ngIf="!selectedItem">
                   $0
                </span>
                <span *ngIf="selectedItem">
                   ${{selectedItem.sellingPrice}}
                </span>
            </td>
              <td>
                <p-inputNumber inputId="integeronly" [(ngModel)]="value1"> </p-inputNumber>
              </td>
              <td>
                <p-button icon="pi pi-check" [rounded]="true" [text]="true" (onClick)="addtoValue()"></p-button>
              </td>
              <td>
                <span *ngIf="!selectedItem && !value1">
                  $0
               </span>
               <span *ngIf="selectedItem && value1">
                  ${{selectedItem.sellingPrice * value1}}
               </span>
              </td>
            </tr>
          </ng-template>
          
          <ng-template pTemplate="body" let-product let-index="rowIndex" >
              <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.sellingPrice }}</td>
                <td>{{ product.quantity }}</td>
                <td><p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" (onClick)="removetoValue(index)"></p-button></td>
                <td>{{ product.quantity * product.sellingPrice}}</td>
              </tr>
          </ng-template>
      </p-table>
      </div>
    </div>
  </div>

  <p-button label="submit" (onClick)="onSubmit()">
      
  </p-button>



