/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
/* .nav-link{
    display: inline;
    list-style: none;
    padding: "1rem";
}
.ulclass{
    margin: "1rem";
} */